<div class="col-md-2"></div>
{{#each this}}
  <div class="col-md-4">
    <h3>
      {{date.title}}: {{date.day}}<sup>{{date.sup}}</sup> {{date.month}}
    </h3>
    {{#each events}}
      <dl>
        <dt>
          {{time}}
        </dt>
        <dd>{{name}}</dd>
      </dl>
    {{/each}}
  </div>
{{/each}}
