<div class="col-md-2"></div>
<div class="col-md-8">
  <h2>{{strip-scripts h2}}</h2>
  <p>{{strip-scripts subtitle}}</p>
  {{#each ideas}}
      <h4>{{strip-scripts title}}</h4>
      <ul>
          <li>{{strip-scripts description}}</li>
      </ul>
  {{/each}}
  <p>{{strip-scripts footer}}</p>
</div>
<div class="col-md-2"></div>
