<div class="col-md-6">
  <h2>{{h2}}</h2>
  {{strip-scripts p}}
  <dl>{{ strip-scripts dl1 }}</dl>
  <dl>{{ strip-scripts dl2 }}</dl>
  <dl>{{ strip-scripts dl3 }}</dl>
  <dl>{{ strip-scripts dl4 }}</dl>
  <dl>{{ strip-scripts dl5 }}</dl>
</div>
<div class="col-md-6" style="text-align: center">
  <img src="{{imgSrc}}" alt="{{imgAlt}}"/>
</div>
